<div class="about-section">
    <h1>About</h1>
    <h5>This Website basically provides you to create a To-do List 
        by performing add,delete and view your tasks anytime you want
        and even provides you a choice of striking a task if that is done
    </h5>
  </div>
  
  <h2 class="text-center">Myself</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Yathin Ganachari</h2>
          <p class="title">Website Creator</p>
          <p>yathinganachari654321@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
